/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/CLox.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-a60c535019740b2484df.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-533c97949f73a97bbca1.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-9cb5e86e3e8a07d4e54e.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/cmake-build-debug/.cmake/api/v1/reply/index-2023-06-27T07-21-48-0856.json
/cmake-build-debug/.cmake/api/v1/reply/target-CLox-Debug-c53ba3ff351e319a3cdd.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-5ca06af607b896ce7535.json
/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdC/CMakeCCompilerId.o
/cmake-build-debug/CMakeFiles/3.25.2/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.25.2/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/CLox.dir/main.c.o
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/CMakeError.log
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/build.ninja
/cmake-build-debug/CLox
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-d8946a1b16dc7d428cbe.json
/cmake-build-debug/.cmake/api/v1/reply/index-2023-07-03T04-57-58-0630.json
/cmake-build-debug/.cmake/api/v1/reply/target-CLox-Debug-2f312aa4807d857d942f.json
/cmake-build-debug/CMakeFiles/CLox.dir/chunk.c.o
/cmake-build-debug/CMakeFiles/CLox.dir/debug.c.o
/cmake-build-debug/CMakeFiles/CLox.dir/memory.c.o
/cmake-build-debug/CMakeFiles/CLox.dir/value.c.o
/cmake-build-debug/CMakeFiles/CLox.dir/vm.c.o
/cmake-build-debug/CMakeFiles/CLox.dir/compiler.c.o
/cmake-build-debug/CMakeFiles/CLox.dir/scanner.c.o
